// home page specific styles

// image expands on hover
.home__img{
  width: 100%;
  border-radius: 50%;
  height: 25rem;
  overflow: clip;
  display: inline-flex;
  justify-content: center;
  img{
    height: 100%;
    transition: height ease-out 1s;
  }
  img:hover{
    height: 150%;
  }
}
